<section class="py-5">

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <!-- Product image-->
        <% if post.image? %>
          <%= image_tag(post.image.url, class:"card-img-top", alt:"Card image cap") %>
        <% else %>
          <img
            class="card-img-top"
            src="https://placehold.jp/b5b5ba/3e3d3d/450x450.jpg?text=No%20image"
            alt="..."
          />
        <% end %>
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder"><%= link_to post.title, post %></h5>
            <%= post.start_time.strftime("%Y年%m月%d日") %>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
      </div>
    <% end %>
  </div>

</section>
