
  <body>
  <%= render "layouts/navber" %>
<br><br><br>


    <header class="bg-warning py-5">
      <div class="container px-1 px-lg-2 my-3">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">朝ごはん投稿一覧</h1>
        </div>
      </div>
    </header>

    <%= render "users/post" %>
    
    <%= paginate @posts %>
    
  
    
    <script src="/scripts."></script>
  </body>
</html>
