
  <body>
  <%= render "layouts/navber" %>
<br><br><br>


    <header class="bg-warning py-3">
      <div class="container px-1 px-lg-3 my-3">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">マイページ</h1>
          <h2>朝ごはん投稿一覧</h2>
        </div>
      </div>
    </header>

    <%= render "users/post" %>
    
    <%= paginate @posts %>
    
    
  </body>
</html>
